dist: bionic

env:
  global:
    - secure: "l6HP5iUkcYS91YTq+cerLpbxTz4KULtlDgXG7FPpRQIPRmcwPL+QadWVMEYdcbMHvcYzD/5mle0ZMjZbpvXsDeckaJEJKdGjvmGzoM8U8/fiv3IfaM937Yzagiu1edENEwq+5E5gzP5vm9J07F1xy52NcH7nTmVozLWKkNgp+nn1Fk/ZWss0x5aXHuqOI8fhdU5/1pB8/zuHLFmnQC0tKJ9wBEJQ/3woxR67WRLLqe/DkTRzGnVejvpgzqdJuyZ98IOtbVvwc6cuQ54em/Orl6aabQz9mmDmPdhGRYl9VDm7EMmfCyjvuDjkh6plJeaVYGky0cHbtLErEjT7s4ZAqFkXoyo62dmSKGmS4N9j0oMN2zqowUS43V0FwaFzKF1eHAOXIYmq1xfBQxJ7ZvQmMXjvttIyr+7m5933kftPa0d/p2WMg4VGTpTeLMn/W1swNsehhT1Z8fISfIhPwr46Lk2mtIWFGluBAKhpHiZfFz8Jn+0bAffSmllwE5+lTZLXbNli5jX48EIqm3dVhh5iV9jE7ezhpHg4riB90pNfvuMtwoM0Zv66b7oeEVXpWtpNIkKcmNipVwDACuSsM+tYF/67V//ZODoIAmXY5gNFAZp4+O1teoVt6JACiTHZsL3V3UkNwNBLYFhVxFT5QKE62Ey9PXfrYrlqJBMimgn/JXE="
    - secure: "e+JV7cs+qMEw3tQ8tDAj6P8SjPq7NvFPN1kRyaI5BdVj4JwrwkxEBxvL7pQ/ZlNNX4C975D7JyoKmnUNuvBu/HZik9npjS3s4P+mr00ba0OqUrfvkcP9A4L7J4Bj+qTxxU/EAbcf8q0pnTaOvtijWZ6IFyUxSgXBefB7am9uMgLf5DjR6cbbizudlbq5umUfmU9r2kMLaVB2ssh4ojpvMFDTTm+lv7Q+MY9AQ6AdDzfT/JelVlOklyOAjB9yxV/2lVsxowKaCOzkaleABfdCjW7lUQu1fRkO9sgnClQYEWDXXjlpVf1AuWGNmgi14H5dp8+/gLcm0cpFFSIzCaWzf6Aa5dmaW6ycYAGlLOhz6S1jDWLNEtWsyKRnvnJsIxjLN/vvKW/m4/PcqP76fluUyuXqKYWMC4+tGq0wtxbJnW88yKWbhmQ+nTvbPeokbWkIUuSTgfKNILbwT/GjhYEnmrTe8DeHiVlvgqHZMBXTKifDJNKRvxmMSqr5cIILSD7HrAUbCk2/Z+Qu5/54UNZByQwKke8ufJpzeRNFWijG+7wJZT4M8txeeKBH/J+zQHU6eGEw69igOOcJH282TJtRo2WJzmn08B5LN2uGmxWEa8CHUuP09Jv8wYWHUoG8EUaE4G5be13is+OvFiODLUcWFnUAQLaUgpnQ2gaNUxltM8E="

branches:
  only:
    - master

stages:
  - test
  - build-go
  - build-docker
  - deploy

jobs:
  include:
  - stage: "test"
    language: go
    go: "1.13"
    install: 
    - go get -v
    script:
    - go test -v
  - stage: "build-go"
    language: go
    go: "1.13"
    install:
    - go get -v
    script:
    - go build -v
  - stage: "build-docker"
    script: 
    - docker build --no-cache -t go-auto-yt:build .
  - stage: "deploy"
    language: shell
    script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker build -t go-auto-yt .
    - docker tag go-auto-yt xiovv/go-auto-yt:stable
    - docker push xiovv/go-auto-yt:stable

