version: '3'

services:
  go-auto-yt:
    build: .
    restart: always
    volumes:
    # Choose ONE of these
      - ./downloads:/app/downloads # local folder mapping
    #  - downloads:/app/downloads # docker volume mapping
    # And ONE of these
      - ./config:/app/config
    #  - config:/app/config
    ports:
    - 8080:8080
#    network_mode: "host"
# uncomment this if using the docker volume mapping above
#volumes:
#  downloads:
#  config: