version: '3'

services:
  go-auto-yt:
    image: xiovv/go-auto-yt:stable
    restart: always
    volumes:
    # Choose ONE of these
      - ./downloads:/app/downloads # local folder mapping
    #  - downloads:/app/downloads # docker volume mapping
    # And ONE of these
      - ./config:/app/config
    #  - config:/app/config
    environment:
      - PUID=1234
      - PGID=5678
      - UMASK_SET=022
    ports:
    - 8080:8080
# uncomment this if using the docker volume mapping above
#volumes:
#  downloads:
#  config: